$dark-text-color: #6d4552;
$light-text-color: #90727c;

.detailed-info-area {
  position: relative;
  flex: 1;
  min-width: 0;
}

.detailed-info {
  width: 95%;
  height: 100%;
  background-color: $page-color;
  position: relative;
  box-shadow: 0 0 7px 2px $shadow-color;
}

.detailed-info-container{
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 70px;
  padding-right: 50px;
}

.close-button {
  @extend .button;
  position: absolute;
  $position: 23px;
  top: $position;
  right: $position;
  transform: rotate(45deg);
}

.left-column {
  flex: 0 0 20%;
  min-width: 220px;
}

.avatar {
  background-color: #85d4e2;
  border: 1px solid $avatar-border-color;
  box-shadow: 0 1px 2px 0 $avatar-border-color;
  width: 67%;
  margin: auto;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.view-info {
  flex: 1 1;

  &__main-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__name {
    font-size: 36px;
    font-weight: bold;
    margin-right: 22px;
    color: $dark-text-color;
  }

  &__bio {
    font-size: 22px;
    font-weight: bold;
    color: $light-text-color;
  }

  &__status {
    font-size: 22px;
    font-weight: bold;
    margin-top: 17px;
    color: #6d4552;
    color: $dark-text-color;
  }

  &__skills-list {
    @extend .skill-list;
    margin-top: 43px;
  }

  &__skill {
    @include skill(8px);
  }

  &__description {
    color: $dark-text-color;
    font-size: 23px;
    margin-top: 45px;
  }
}
