.filled-profile {
  color: $medium-text-color;
  text-align: center;
  font-size: 21px;
  margin-top: 25px;
}

.employee-form {
  flex: 1 1;

  & > * {
    margin-bottom: 22px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    position: relative;

    &--full {
      width: 100%;
      justify-content: space-between;
    }
  }
  @mixin placeholder-styles() {
    font-weight: normal;
    color: $light-text-color;
  }
  @mixin input() {
    width: 100%;
    font-size: 23px;
    color: $dark-text-color;
    border: 1px solid $border-color;
    box-shadow: inset 0 1px 2px 1px lighten($border-color, 10%);
    border-radius: 7px;
    background-color: white;
    overflow: hidden;
    font-size: 23px;
    padding: 14px 19px;

    &::-webkit-input-placeholder {
      @include placeholder-styles;
    }

    &::-moz-placeholder {
      @include placeholder-styles;
    }

    &:-moz-placeholder {
      @include placeholder-styles;
    }

    &:-ms-input-placeholder {
      @include placeholder-styles;
    }
  }

  &__input {
    @include input;

    &--short {
      width: 49%;
    }
  }

  &__skill-list {
    @include input;
    padding: 0 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  &__skill {
    background-color: $orange-color !important;
    margin: 8px 7px !important;
    border-radius: 4px !important;
    color: white !important;
    font-size: 23px !important;
    display: flex;
    align-items: center;
  }

  &__textarea {
    @include input();
    resize: vertical;
    max-height: 300px;
    min-height: 200px;
  }

  &__select {
    background-color: $orange-color !important;
    border-radius: 6px;
    box-shadow: 0 2px 1px 1px #a78453;
    color: white !important;
    font-size: 23px !important;
    margin-right: 30px !important;
    height: auto !important;

    div {
      margin-top: 0 !important;
      font-size: 23px !important;
    }
  }

  &__datepicker {
    background-color: $orange-color !important;
    border-radius: 6px;
    box-shadow: 0 2px 1px 1px #a78453;
    color: white !important;
    font-size: 23px !important;
    //lifehacks will need to be change if something is changed
    div > div {
      color: white !important;
      font-size: 23px !important;
    }

    input {
      color: white !important;
      -webkit-text-fill-color: white !important;
      font-size: 23px !important;
    }
  }

  &__auto-complete {
    padding: 0 17px;

    div {
      color: $light-text-color !important;
      font-size: 23px !important;
    }

    input {
      color: $dark-text-color !important;
      -webkit-text-fill-color: $dark-text-color !important;
      font-size: 23px !important;
    }
  }
}

div[role=menu] {
  padding: 8px 0 !important;
}

span[role=menuitem] {
  padding: 16px 0 !important;
}
