.list {
  flex: 0 1 26.5%;
  min-width: 350px;
  background-color: $page-color;
  height: 100%;
  box-shadow: 0 0 7px 2px $shadow-color;
  z-index: 1;
  border-right: 1px solid #c2c2c2;
  overflow: auto;
}

.add-button {
  @extend .button;
  margin: 15px auto;
}
