.list-item {
  width: 100%;
  position: relative;

  &.opened {
    background-color: $page-color;

    .list-item__content {
      width: calc(100% - 17px);
    }
  }

  &:first-child {
    border-top: none;
  }

  &__content {
    padding: 34px 10px;
    $border-color: #d9d2d5;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-bottom: 3px solid $border-color;
    width: calc(100% - 20px);
    cursor: pointer;
  }

  &__profile-filled {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
  }

  &__avatar {
    $size: 93px;
    width: $size;
    height: $size;
    border: 1px solid $border-color;
    border-radius: 100%;
    margin-right: 22px;
    flex-shrink: 0;
    background: url('https://unsplash.it/#{$size}') center center no-repeat;
    background-size: contain;
  }

  &__info-container {}

  &__name {
    font-size: 22px;
    font-weight: bold;
    color: #212121;
  }

  &__status {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #757575;
  }

  &__skills-list {
    @extend .skill-list;
  }

  &__skill {
    @include skill(0);
  }
}
