@import "fonts";
@import "values";
@import "mixins";
@import "list";
@import "list-item";
@import "detailed-info";
@import "employee-form";
@import "view-info";

* {
  box-sizing: border-box;
  font-style: normal;
  font-family: ProximaNova;
}

body {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 1;
  font-size: 33px;
  font-weight: bold;
  padding: 20px;
  z-index: 2;
  box-shadow: 0 0 7px 2px $shadow-color;
  background-color: $header-color;
}

.content {
  background-color: $background-color;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: row;
}
